
@import '../../style/reset.less';
@import '../../style/var.less';

@import '../../popup/style/index.less';

.dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 320px;
    overflow: hidden;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.diglog-title {
    padding-top: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #323233;
}

.dialog-content {
    max-height: 60vh;
    padding: 24px;
    overflow-y: auto;
    line-height: 20px;
    font-size: 16px;
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
}

.dialog-footer {
    position: relative;
    line-height: 56px;
    min-height: 56px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.dialog-footer::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.dialog-btn {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #576B95;
    font-weight: 500;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}