<template>
  <div class="about">
    <pi-cell-group>
      <pi-cell title="关于组件库"  color="text-green" url="http://www.baidu.com" icon="icon-tagfill" arrow></pi-cell>
      <pi-cell title="github" color="text-blue" url="https://github.com/martin-yin/Pipi-Dinosaur" icon="icon-github" arrow></pi-cell>
      <pi-cell title="掘金" color="text-blue" url="https://juejin.im/user/5a0aa433f265da432002c33c/posts" arrow></pi-cell>
      <pi-cell title="意见反馈" color="text-cyan" value="打他一顿" icon="icon-writefill" to="/feedback" arrow></pi-cell>
    </pi-cell-group> 
  </div>
</template>

<script>

export default {
  name: 'about',
  components: {
  }
}
</script>
