@import '../../style/reset.less';
@import '../../style/var.less';

.nav-bar {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
    .action {
        display: flex;
        text-align: center;
        height: 100%;
        justify-content: center;
        color: #ffffff;
        max-width: 100%;
        &.sub-title {
            position: relative;
            top: -0.1rem;
        }
        &.sub-title p {
            position: relative;
            z-index: 1;
        }
        &.sub-title p[class*="bg-"]:last-child {
            position: absolute;
            display: inline-block;
            bottom: -0.1rem;
            border-radius: 3px;
            width: 100%;
            height: 0.3rem;
            left: 0.3rem;
            opacity: 0.3;
            z-index: 0;
        }
        &.sub-title p[class*="text-"]:last-child {
            position: absolute;
            display: inline-block;
            bottom: -0.35rem;
            left: 0.25rem;
            opacity: 0.2;
            z-index: 0;
            text-align: right;
            font-weight: 900;
            font-size: 18px;
        }
        &:first-child {
            margin-left: 15px;
            font-size: 15px;
        }
        span.text-cut {
            text-align: left;
            width: 100%;
        }
        &:first-child>span[class*="icon"] {
            margin-left: -0.3em;
            margin-right: 0.3em;
        }
        &:last-child {
            margin-right: 15px;
        }
    }
    .cu-avatar{
        &:first-child {
            margin-left: 20px;
        }
    }
    .content {
        position: absolute;
        text-align: center;
        width: 200px;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        cursor: none;
        pointer-events: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

// .cu-bar.justify-center .action.border-title text:last-child,
// .cu-bar.justify-center .action.sub-title text:last-child {
//     left: 0;
//     right: 0;
//     margin: auto;
//     text-align: center;
// }

// .cu-bar .action>span[class*="icon"],
// .cu-bar .action>div[class*="icon"] {
//     font-size: 18px;
// }

// .cu-bar .action>span[class*="icon"]+span[class*="icon"] {
//     margin-left: 0.5em;
// }