<template>
  <div id="app">
    <!-- <pi-nav-bar :title="routeInfo.meta.title" :left-arrow="isBack" @left-click="back"/> -->
    <router-view/>

    <pi-tabbar v-model="active" fixed>
      <pi-tabbar-item icon="icon-homefill" url="/">
        首页
      </pi-tabbar-item>
      <pi-tabbar-item icon="icon-similar" to="">
        Demo
      </pi-tabbar-item>
      <pi-tabbar-item icon="icon-profile" to="/about">
        关于我
      </pi-tabbar-item>
    </pi-tabbar>
    <!-- <pi-popup v-model="show">123</pi-popup> -->
    <!-- <pi-dialog v-model="show" title="标题" message="123123" /> -->
  </div>
</template>
<script>
const tabbarRoute = ['/', '/demo', '/about'];
export default {
  data() {
    return {
      active: 0,
      show: true,
      isBack: false
    }
  },
  watch: {
    $route(val) {
      this.setRouteInfo(val);
    }
  },
  computed: {
    routeInfo() {
      return this.$route;
    },
  },
  created() {
    this.setRouteInfo(this.routeInfo);
    this.$dialog.alert(
      {
        message: '13',
      }
    )
  },
  methods: {
    back() {
      window.history.back(-1);
    },
    setRouteInfo(val) {
      const path = val.path;
      const active = tabbarRoute.indexOf(path);
      if(active < 0){
        this.isBack = true;
        return;
      }
      this.isBack = false;
      this.active = active;
    }
  },
}
</script>
<style lang="less">

.text-green {
  color: #39b54a;
}

.bg-green {
  background: #39b54a;
}

.bg-white {
  background: #ffffff;
}
body {
  background: #eee;
}
@import "../packages/tabbar/style/index.less";

@import "../packages/dialog/style/index.less";
</style>
