
@import '../../style/reset.less';
@import '../../style/var.less';

@import '../../icon/style/index.less';

.tabbar {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
    &.foot {
        position: fixed;
    	width: 100%;
	    bottom: 0;
	    z-index: 1024;
	    box-shadow: 0 -1upx 6upx rgba(0, 0, 0, 0.1);
    }
    .action {
        font-size: 14px;
        flex: 1;
        padding: 0;
        height: auto;
        line-height: 1;
        margin: 0;
        max-width: 100%;
        text-align: center;
        display: block;
        [class*="icon"] {
            width: 50px;
            display: block;
            position: relative;
            height: auto;
            margin: 0 auto 5px;
            text-align: center;
            font-size: 20px;
        }
    }
}